<a href="https://colab.research.google.com/github/Aglaeth/fisica_computacional/blob/main/Actividad3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [148]:
#Importaremos las bibliotecas a utiizar 
import numpy as np
import pandas as pd

#Nombraremos las columnas del df
columnas = ['Fecha', 'Precip', 'Evap', 'Tmax', 'Tmin']
#Agregamos el url de la ubicación de nuestros datos 

url = "https://raw.githubusercontent.com/Abel-Lemus/Computacional-1-/main/Actividad%200/26061.txt"

#Empezamos con la definicion df_Navojoa
df_Navojoa = pd.read_csv(url,header =None,names=columnas, skiprows=19, skipfooter=1, sep='\s+', encoding='cp1251',engine='python')

#Vamos a imprimir los datos de nuestro url 
print(df_Navojoa)

            Fecha Precip  Evap  Tmax  Tmin
0      01/01/1922      0  Nulo    24    16
1      02/01/1922      0  Nulo    24  16.8
2      03/01/1922      0  Nulo  24.8  16.8
3      04/01/1922      0  Nulo    24    10
4      05/01/1922      0  Nulo    21   7.3
...           ...    ...   ...   ...   ...
25770  26/04/2016      0     9    33  16.5
25771  27/04/2016      0   9.1  33.5    14
25772  28/04/2016      0   9.2  32.5    14
25773  29/04/2016      0   9.1  31.5    15
25774  30/04/2016      0   9.2  Nulo  14.5

[25775 rows x 5 columns]

In [149]:
#Ahora solo vamos a imprimir usando la función df.head(n) y df.tail()

print(df_Navojoa.head())

print(df_Navojoa.tail())

        Fecha Precip  Evap  Tmax  Tmin
0  01/01/1922      0  Nulo    24    16
1  02/01/1922      0  Nulo    24  16.8
2  03/01/1922      0  Nulo  24.8  16.8
3  04/01/1922      0  Nulo    24    10
4  05/01/1922      0  Nulo    21   7.3
            Fecha Precip Evap  Tmax  Tmin
25770  26/04/2016      0    9    33  16.5
25771  27/04/2016      0  9.1  33.5    14
25772  28/04/2016      0  9.2  32.5    14
25773  29/04/2016      0  9.1  31.5    15
25774  30/04/2016      0  9.2  Nulo  14.5

In [150]:
#Parte 3 
print(df_Navojoa.head(10))

print(df_Navojoa.tail(10))

        Fecha Precip  Evap  Tmax  Tmin
0  01/01/1922      0  Nulo    24    16
1  02/01/1922      0  Nulo    24  16.8
2  03/01/1922      0  Nulo  24.8  16.8
3  04/01/1922      0  Nulo    24    10
4  05/01/1922      0  Nulo    21   7.3
5  06/01/1922      0  Nulo    21     4
6  07/01/1922      0  Nulo    21   4.2
7  08/01/1922      0  Nulo    19     7
8  09/01/1922      0  Nulo    23     5
9  10/01/1922      0  Nulo    23     5
            Fecha Precip Evap  Tmax  Tmin
25765  21/04/2016      0  9.1  35.5  14.5
25766  22/04/2016      0  8.6    32    17
25767  23/04/2016      0  8.9    33  16.5
25768  24/04/2016      0  9.1    33    17
25769  25/04/2016      0  9.2  34.5  16.5
25770  26/04/2016      0    9    33  16.5
25771  27/04/2016      0  9.1  33.5    14
25772  28/04/2016      0  9.2  32.5    14
25773  29/04/2016      0  9.1  31.5    15
25774  30/04/2016      0  9.2  Nulo  14.5

In [151]:
#Ahora estudiaremos las dimensiones del archivo por medio de la siguiente linea de codigo : df.shape

df_Navojoa.shape

(25775, 5)

In [152]:
#Posteriormente se nos pide saber ¿Cómo es el contenido de tu dataframe?: df.info()

df_Navojoa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25775 entries, 0 to 25774
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   25775 non-null  object
 1   Precip  25775 non-null  object
 2   Evap    25775 non-null  object
 3   Tmax    25775 non-null  object
 4   Tmin    25775 non-null  object
dtypes: object(5)
memory usage: 1007.0+ KB

In [153]:
# Hacemos una copia de trabajo y preservamos el dataframe original
df_respaldo = df_Navojoa.copy()
df_respaldo.head()

        Fecha Precip  Evap  Tmax  Tmin
0  01/01/1922      0  Nulo    24    16
1  02/01/1922      0  Nulo    24  16.8
2  03/01/1922      0  Nulo  24.8  16.8
3  04/01/1922      0  Nulo    24    10
4  05/01/1922      0  Nulo    21   7.3

In [154]:
#Ahora con los datos originales incluyen la cadena de caracteres 'Nulo', indicando que no hubo datos para esa variable, ese día. 
#Tenemos que reemplazar la palabra nulo con la función: df.replace()

str_Nulo = 'Nulo'
df_respaldo = df_respaldo.replace(to_replace=str_Nulo, value='', regex=True)
df_respaldo.head()

        Fecha Precip Evap  Tmax  Tmin
0  01/01/1922      0         24    16
1  02/01/1922      0         24  16.8
2  03/01/1922      0       24.8  16.8
3  04/01/1922      0         24    10
4  05/01/1922      0         21   7.3

In [155]:
#Ya quetenemos reemplazada la parte de NULO, vamos a imprimir los archivos actualizados 

df_respaldo.info()
print(df_respaldo.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25775 entries, 0 to 25774
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   25775 non-null  object
 1   Precip  25775 non-null  object
 2   Evap    25775 non-null  object
 3   Tmax    25775 non-null  object
 4   Tmin    25775 non-null  object
dtypes: object(5)
memory usage: 1007.0+ KB
        Fecha Precip Evap  Tmax  Tmin
0  01/01/1922      0         24    16
1  02/01/1922      0         24  16.8
2  03/01/1922      0       24.8  16.8
3  04/01/1922      0         24    10
4  05/01/1922      0         21   7.3

In [157]:
cols_list = ['Precip', 'Evap', 'Tmax', 'Tmin']
for cols in cols_list:
  df_respaldo[cols] = pd.to_numeric(df_respaldo[cols], errors='coerce')

df_respaldo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25775 entries, 0 to 25774
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   25775 non-null  object
 1   Precip  25739 non-null  float64
 2   Evap    19131 non-null  float64
 3   Tmax    24841 non-null  float64
 4   Tmin    24837 non-null  float64
dtypes: float64(4), object(1)
memory usage: 1007.0+ KB

In [158]:
#Se puede contabilizar el número de datos faltantes en esas variables mediante la función: df.isnull().sum()

df_respaldo.isnull().sum()

Fecha        0
Precip      36
Evap      6644
Tmax       934
Tmin       938
dtype: int64

In [159]:
#Imprime de nuevo el encabezado y final de tu dataframe, con las funciones df.head() y df.tail()

print(df_respaldo.head())
print(df_respaldo.tail())

        Fecha  Precip  Evap  Tmax  Tmin
0  01/01/1922     0.0   NaN  24.0  16.0
1  02/01/1922     0.0   NaN  24.0  16.8
2  03/01/1922     0.0   NaN  24.8  16.8
3  04/01/1922     0.0   NaN  24.0  10.0
4  05/01/1922     0.0   NaN  21.0   7.3
            Fecha  Precip  Evap  Tmax  Tmin
25770  26/04/2016     0.0   9.0  33.0  16.5
25771  27/04/2016     0.0   9.1  33.5  14.0
25772  28/04/2016     0.0   9.2  32.5  14.0
25773  29/04/2016     0.0   9.1  31.5  15.0
25774  30/04/2016     0.0   9.2   NaN  14.5

In [160]:
#Realiza una estadística básica de las variables numéricas de tu dataframe usando la función: df.describe() y haz una interpretación de los resultados, para ver si tienen sentido físico 
#(por ej. valores negativos de precipitación, valores extremos fuera de lo normal, etc)

df_respaldo.describe().round(2)

         Precip      Evap      Tmax      Tmin
count  25739.00  19131.00  24841.00  24837.00
mean       1.12      7.06     33.29     16.99
std        6.08      3.08      5.77      6.83
min        0.00      0.10     11.00     -3.50
25%        0.00      4.60     29.00     11.50
50%        0.00      6.70     34.00     16.50
75%        0.00      9.30     37.90     23.00
max      211.00     18.00     53.30     34.00

In [161]:
#Comienza haciendo una copia del dataframe del paso anterior, por si se requiere recuperar el nuevo dataframe, utilizando df:new=df.copy()

df_newcopia = df_respaldo.copy()

df_newcopia

            Fecha  Precip  Evap  Tmax  Tmin
0      01/01/1922     0.0   NaN  24.0  16.0
1      02/01/1922     0.0   NaN  24.0  16.8
2      03/01/1922     0.0   NaN  24.8  16.8
3      04/01/1922     0.0   NaN  24.0  10.0
4      05/01/1922     0.0   NaN  21.0   7.3
...           ...     ...   ...   ...   ...
25770  26/04/2016     0.0   9.0  33.0  16.5
25771  27/04/2016     0.0   9.1  33.5  14.0
25772  28/04/2016     0.0   9.2  32.5  14.0
25773  29/04/2016     0.0   9.1  31.5  15.0
25774  30/04/2016     0.0   9.2   NaN  14.5

[25775 rows x 5 columns]

In [162]:
#Utiliza la función de Pandas pd.to_datetime(), para convertir el objeto Fecha a formato de fecha que comprende Python. 
# Lee el manual de esa función e intenta la conversión. 


df_newcopia["Fecha"] = pd.to_datetime(df_newcopia["Fecha"], dayfirst=True ).copy()
print(df_newcopia.head())

       Fecha  Precip  Evap  Tmax  Tmin
0 1922-01-01     0.0   NaN  24.0  16.0
1 1922-01-02     0.0   NaN  24.0  16.8
2 1922-01-03     0.0   NaN  24.8  16.8
3 1922-01-04     0.0   NaN  24.0  10.0
4 1922-01-05     0.0   NaN  21.0   7.3

In [163]:
#Después utiliza la función df.dtypes para verificar que todas las variables son del tipo deseado.  

df_newcopia.dtypes

Fecha     datetime64[ns]
Precip           float64
Evap             float64
Tmax             float64
Tmin             float64
dtype: object

In [164]:
#Enseguida con la ayuda de las funciones de Pandas df['Fecha'].dt.year y df['Fecha'].dt.month, crea dos columnas nuevas adicionales df['Año'] y df['Mes']. 

df_newcopia['Año'] = df_newcopia['Fecha'].dt.year
df_newcopia['Mes'] = df_newcopia['Fecha'].dt.month

In [ ]:
#Utilizando la función print aplicado a las funciones df.head() y df.tail(), verifica que el dataframe tiene la forma deseada.

In [165]:
print(df_newcopia.head())
print(df_newcopia.tail())

       Fecha  Precip  Evap  Tmax  Tmin   Año  Mes
0 1922-01-01     0.0   NaN  24.0  16.0  1922    1
1 1922-01-02     0.0   NaN  24.0  16.8  1922    1
2 1922-01-03     0.0   NaN  24.8  16.8  1922    1
3 1922-01-04     0.0   NaN  24.0  10.0  1922    1
4 1922-01-05     0.0   NaN  21.0   7.3  1922    1
           Fecha  Precip  Evap  Tmax  Tmin   Año  Mes
25770 2016-04-26     0.0   9.0  33.0  16.5  2016    4
25771 2016-04-27     0.0   9.1  33.5  14.0  2016    4
25772 2016-04-28     0.0   9.2  32.5  14.0  2016    4
25773 2016-04-29     0.0   9.1  31.5  15.0  2016    4
25774 2016-04-30     0.0   9.2   NaN  14.5  2016    4

In [167]:
#Y complementa con la función df.dtypes, para verificar que todas las variables son del tipo adecuado.  

df_newcopia.dtypes
df_newcopia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25775 entries, 0 to 25774
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   25775 non-null  datetime64[ns]
 1   Precip  25739 non-null  float64
 2   Evap    19131 non-null  float64
 3   Tmax    24841 non-null  float64
 4   Tmin    24837 non-null  float64
 5   Año     25775 non-null  int64
 6   Mes     25775 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(2)
memory usage: 1.4 MB