In [ ]:
#Importaremos las bibliotecas a utiizar 
import numpy as np
import pandas as pd

#Nombraremos las columnas del df
columnas = ['Fecha', 'Precip', 'Evap', 'Tmax', 'Tmin']
#Agregamos el url de la ubicación de nuestros datos 

url = "https://raw.githubusercontent.com/Aglaeth/fisica_computacional/main/Actividad%203/3042.txt"

#Empezamos con la definicion df_Pocitos 
df_pocitos = pd.read_csv(url,header =None,names=columnas, skiprows=19, skipfooter=1, sep='\s+', encoding='cp1251',engine='python')

#Vamos a imprimir los datos de nuestro url 
print(df_pocitos)

            Fecha Precip  Evap Tmax Tmin
0      01/09/1952      0  Nulo   37   21
1      02/09/1952      0  Nulo   36   22
2      03/09/1952      0  Nulo   34   23
3      04/09/1952      0  Nulo   33   24
4      05/09/1952      0  Nulo   38   22
...           ...    ...   ...  ...  ...
22956  26/12/2017      0  Nulo   22   14
22957  27/12/2017      0  Nulo   27   13
22958  28/12/2017      0  Nulo   25   15
22959  29/12/2017      0  Nulo   27   12
22960  30/12/2017      0  Nulo   27   11

[22961 rows x 5 columns]

In [ ]:
#Ahora solo vamos a imprimir usando la función df.head(n) y df.tail()

print(df_pocitos.head())

print(df_pocitos.tail())

        Fecha Precip  Evap Tmax Tmin
0  01/09/1952      0  Nulo   37   21
1  02/09/1952      0  Nulo   36   22
2  03/09/1952      0  Nulo   34   23
3  04/09/1952      0  Nulo   33   24
4  05/09/1952      0  Nulo   38   22
            Fecha Precip  Evap Tmax Tmin
22956  26/12/2017      0  Nulo   22   14
22957  27/12/2017      0  Nulo   27   13
22958  28/12/2017      0  Nulo   25   15
22959  29/12/2017      0  Nulo   27   12
22960  30/12/2017      0  Nulo   27   11

In [ ]:
#Parte 3 
print(df_pocitos.head(10))

print(df_pocitos.tail(10))

        Fecha Precip  Evap Tmax Tmin
0  01/09/1952      0  Nulo   37   21
1  02/09/1952      0  Nulo   36   22
2  03/09/1952      0  Nulo   34   23
3  04/09/1952      0  Nulo   33   24
4  05/09/1952      0  Nulo   38   22
5  06/09/1952      0  Nulo   37   23
6  07/09/1952      0  Nulo   40   22
7  08/09/1952      0  Nulo   36   21
8  09/09/1952      0  Nulo   38   24
9  10/09/1952      0  Nulo   34   20
            Fecha Precip  Evap Tmax Tmin
22951  21/12/2017      0  Nulo   23   16
22952  22/12/2017      0  Nulo   25    9
22953  23/12/2017      0  Nulo   26   11
22954  24/12/2017      0  Nulo   25   12
22955  25/12/2017      0  Nulo   21   15
22956  26/12/2017      0  Nulo   22   14
22957  27/12/2017      0  Nulo   27   13
22958  28/12/2017      0  Nulo   25   15
22959  29/12/2017      0  Nulo   27   12
22960  30/12/2017      0  Nulo   27   11

In [ ]:
#Ahora estudiaremos las dimensiones del archivo por medio de la siguiente linea de codigo : df.shape

df_pocitos.shape

(22961, 5)

In [ ]:
#Posteriormente se nos pide saber ¿Cómo es el contenido de tu dataframe?: df.info()

df_pocitos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22961 entries, 0 to 22960
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   22961 non-null  object
 1   Precip  22961 non-null  object
 2   Evap    22961 non-null  object
 3   Tmax    22961 non-null  object
 4   Tmin    22961 non-null  object
dtypes: object(5)
memory usage: 897.0+ KB

In [ ]:
# Hacemos una copia de trabajo y preservamos el dataframe original
df_respaldo = df_pocitos.copy()
df_respaldo.head()

        Fecha Precip  Evap Tmax Tmin
0  01/09/1952      0  Nulo   37   21
1  02/09/1952      0  Nulo   36   22
2  03/09/1952      0  Nulo   34   23
3  04/09/1952      0  Nulo   33   24
4  05/09/1952      0  Nulo   38   22

In [ ]:
#Ahora con los datos originales incluyen la cadena de caracteres 'Nulo', indicando que no hubo datos para esa variable, ese día. 
#Tenemos que reemplazar la palabra nulo con la función: df.replace()

str_Nulo = 'Nulo'
df_respaldo = df_respaldo.replace(to_replace=str_Nulo, value='', regex=True)
df_respaldo.head()

        Fecha Precip Evap Tmax Tmin
0  01/09/1952      0        37   21
1  02/09/1952      0        36   22
2  03/09/1952      0        34   23
3  04/09/1952      0        33   24
4  05/09/1952      0        38   22

In [ ]:
#Ya quetenemos reemplazada la parte de NULO, vamos a imprimir los archivos actualizados 

df_respaldo.info()
print(df_respaldo.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25775 entries, 0 to 25774
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   25775 non-null  object
 1   Precip  25775 non-null  object
 2   Evap    25775 non-null  object
 3   Tmax    25775 non-null  object
 4   Tmin    25775 non-null  object
dtypes: object(5)
memory usage: 1007.0+ KB
        Fecha Precip Evap  Tmax  Tmin
0  01/01/1922      0         24    16
1  02/01/1922      0         24  16.8
2  03/01/1922      0       24.8  16.8
3  04/01/1922      0         24    10
4  05/01/1922      0         21   7.3

In [ ]:
cols_list = ['Precip', 'Evap', 'Tmax', 'Tmin']
for cols in cols_list:
  df_respaldo[cols] = pd.to_numeric(df_respaldo[cols], errors='coerce')

df_respaldo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22961 entries, 0 to 22960
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   22961 non-null  object
 1   Precip  22950 non-null  float64
 2   Evap    0 non-null      float64
 3   Tmax    22900 non-null  float64
 4   Tmin    22839 non-null  float64
dtypes: float64(4), object(1)
memory usage: 897.0+ KB

In [ ]:
#Se puede contabilizar el número de datos faltantes en esas variables mediante la función: df.isnull().sum()

df_respaldo.isnull().sum()

Fecha         0
Precip       11
Evap      22961
Tmax         61
Tmin        122
dtype: int64

In [ ]:
#Imprime de nuevo el encabezado y final de tu dataframe, con las funciones df.head() y df.tail()

print(df_respaldo.head())
print(df_respaldo.tail())

        Fecha  Precip  Evap  Tmax  Tmin
0  01/09/1952     0.0   NaN  37.0  21.0
1  02/09/1952     0.0   NaN  36.0  22.0
2  03/09/1952     0.0   NaN  34.0  23.0
3  04/09/1952     0.0   NaN  33.0  24.0
4  05/09/1952     0.0   NaN  38.0  22.0
            Fecha  Precip  Evap  Tmax  Tmin
22956  26/12/2017     0.0   NaN  22.0  14.0
22957  27/12/2017     0.0   NaN  27.0  13.0
22958  28/12/2017     0.0   NaN  25.0  15.0
22959  29/12/2017     0.0   NaN  27.0  12.0
22960  30/12/2017     0.0   NaN  27.0  11.0

In [ ]:
#Realiza una estadística básica de las variables numéricas de tu dataframe usando la función: df.describe() y haz una interpretación de los resultados, para ver si tienen sentido físico 
#(por ej. valores negativos de precipitación, valores extremos fuera de lo normal, etc)

df_respaldo.describe().round(2)

         Precip  Evap      Tmax      Tmin
count  22950.00   0.0  22900.00  22839.00
mean       0.38   NaN     31.24     13.34
std        4.02   NaN      5.27      5.04
min        0.00   NaN     10.00     -2.00
25%        0.00   NaN     28.00     10.00
50%        0.00   NaN     31.00     12.00
75%        0.00   NaN     35.00     17.00
max      180.00   NaN     49.50     30.00

In [ ]:
#Comienza haciendo una copia del dataframe del paso anterior, por si se requiere recuperar el nuevo dataframe, utilizando df:new=df.copy()

df_nvcopia = df_respaldo.copy()

df_nvcopia

            Fecha  Precip  Evap  Tmax  Tmin
0      01/09/1952     0.0   NaN  37.0  21.0
1      02/09/1952     0.0   NaN  36.0  22.0
2      03/09/1952     0.0   NaN  34.0  23.0
3      04/09/1952     0.0   NaN  33.0  24.0
4      05/09/1952     0.0   NaN  38.0  22.0
...           ...     ...   ...   ...   ...
22956  26/12/2017     0.0   NaN  22.0  14.0
22957  27/12/2017     0.0   NaN  27.0  13.0
22958  28/12/2017     0.0   NaN  25.0  15.0
22959  29/12/2017     0.0   NaN  27.0  12.0
22960  30/12/2017     0.0   NaN  27.0  11.0

[22961 rows x 5 columns]

In [ ]:
#Utiliza la función de Pandas pd.to_datetime(), para convertir el objeto Fecha a formato de fecha que comprende Python. 
# Lee el manual de esa función e intenta la conversión. 


df_nvcopia["Fecha"] = pd.to_datetime(df_nvcopia["Fecha"], dayfirst=True ).copy()
print(df_nvcopia.head())

       Fecha  Precip  Evap  Tmax  Tmin
0 1952-09-01     0.0   NaN  37.0  21.0
1 1952-09-02     0.0   NaN  36.0  22.0
2 1952-09-03     0.0   NaN  34.0  23.0
3 1952-09-04     0.0   NaN  33.0  24.0
4 1952-09-05     0.0   NaN  38.0  22.0

In [ ]:
#Después utiliza la función df.dtypes para verificar que todas las variables son del tipo deseado.  

df_nvcopia.dtypes

Fecha     datetime64[ns]
Precip           float64
Evap             float64
Tmax             float64
Tmin             float64
dtype: object

In [ ]:
#Enseguida con la ayuda de las funciones de Pandas df['Fecha'].dt.year y df['Fecha'].dt.month, crea dos columnas nuevas adicionales df['Año'] y df['Mes']. 

df_nvcopia['Año'] = df_nvcopia['Fecha'].dt.year
df_nvcopia['Mes'] = df_nvcopia['Fecha'].dt.month

In [ ]:
#Utilizando la función print aplicado a las funciones df.head() y df.tail(), verifica que el dataframe tiene la forma deseada.

In [ ]:
print(df_nvcopia.head())
print(df_nvcopia.tail())

       Fecha  Precip  Evap  Tmax  Tmin   Año  Mes
0 1952-09-01     0.0   NaN  37.0  21.0  1952    9
1 1952-09-02     0.0   NaN  36.0  22.0  1952    9
2 1952-09-03     0.0   NaN  34.0  23.0  1952    9
3 1952-09-04     0.0   NaN  33.0  24.0  1952    9
4 1952-09-05     0.0   NaN  38.0  22.0  1952    9
           Fecha  Precip  Evap  Tmax  Tmin   Año  Mes
22956 2017-12-26     0.0   NaN  22.0  14.0  2017   12
22957 2017-12-27     0.0   NaN  27.0  13.0  2017   12
22958 2017-12-28     0.0   NaN  25.0  15.0  2017   12
22959 2017-12-29     0.0   NaN  27.0  12.0  2017   12
22960 2017-12-30     0.0   NaN  27.0  11.0  2017   12

In [ ]:
#Y complementa con la función df.dtypes, para verificar que todas las variables son del tipo adecuado.  

df_nvcopia.dtypes
df_nvcopia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22961 entries, 0 to 22960
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   22961 non-null  datetime64[ns]
 1   Precip  22950 non-null  float64
 2   Evap    0 non-null      float64
 3   Tmax    22900 non-null  float64
 4   Tmin    22839 non-null  float64
 5   Año     22961 non-null  int64
 6   Mes     22961 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(2)
memory usage: 1.2 MB